h1{
    
}
.div1{

    
    background: linear-gradient(to right, #333, #333 50%, #eee 75%, #333 75%);
    padding: 5px 30px;
    
    height: 40px;
    
}
.div1a{

    background: linear-gradient(45deg, red, blue);
    height: 15px;
}
.B1{
float:centre;
height:30px;
width: 80px;


}
.B1:hover{
background-color: chartreuse;

}
h1{
    text-align:center
}
.div2{
    margin: 10px;
    background-color: darkgreen;
    display:inline-block;
    width: 890px;
    height: 500px;
    background:linear-gradient()
   
}

.div3{
    background-color: tomato;
 float: right;
 height: 500px;
 width: 300px;
 margin: 10px;


}